.navbar {
    background-color: #007bff !important;
  }
  
  .navbar .nav-link,
  .navbar .navbar-brand,
  .navbar .dropdown-toggle {
    color: white !important;
  }
  
  .navbar .dropdown-menu {
    background-color: white;
  }
  
  .navbar .dropdown-menu .dropdown-item {
    color: #000 !important;
  }
  
  form.d-flex input[type="search"] {
    background-color: white;
    border: 1px solid #ccc;
    color: #000;
  }
  .collapse navbar-collapse{
    background-color: blue;
  }